<form id="searchForm" class="row col-12 mt-5 mx-auto">
  <div class="input-group">
    <input id="findStock" type="text" class="form-control" placeholder="What stock would you like to track?"
      aria-label="Stock Tracker" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button id="searchStock" class="btn btn-dark" type="submit">Search</button>
    </div>
  </div>
</form>
