<div class="row">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="What stock would you like to track?" aria-label="Stock Tracker"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
  </div>
</div>
