<div id="tickerBox" class="row mx-auto">
  <div id="tickerContent" class="card-body d-flex">
    <div class="col-4 text-center border-right border-dark">
      <h1>NASDAQ</h1>
    </div>
    <div class="col-4 text-center border-right border-dark">
      <h1>S&amp;P</h1>
    </div>
    <div class="col-4 text-center">
      <h1>DOW</h1>
    </div>
  </div>
</div>
