<div id="tickerBox" class="row mx-auto">
  <div id="tickerContent" class="card-body d-flex justify-content-between">
    <div class="col-xs-4 mr-1 text-center">
      <h5>S&amp;P</h5>
      <a id="topTickerSP"></a>
    </div>
    <div class="col-xs-4 text-center">
      <h5>DOW</h5>
      <a id="topTickerDow"></a>
    </div>
  </div>
</div>
