<div class="row">
  <div id="tickerBox" class="mt-1">
    <div id="tickerContent" class="card-body d-flex">
      <div class="card col-4 m-2 p-2 text-center">
        <h1>NASDAQ</h1>
        {{!-- Where do I put the data we are collecting? --}}
        <canvas id="nasdaqGraph"></canvas>
      </div>
      <div class="card col-4 m-2 p-2 text-center">
        <h1>S&amp;P 500</h1>
        {{!-- Where do I put the data we are collecting? --}}
         <canvas id="sAndPGraph"></canvas>
      </div>
      <div class="card col-4 m-2 p-2 text-center">
        <h1>DOW JONES</h1>
        {{!-- Where do I put the data we are collecting? --}}
         <canvas id="dowJonessGraph"></canvas>
      </div>
    </div>
  </div>
</div>
