<div id="tickerBox" class="row mx-auto">
  <div id="tickerContent" class="card-body d-flex justify-content-between">
    <div class="col-xs-4 mt-3 text-center">
      <h4>S&amp;P</h4>
      <a id="topTickerSP"></a>
    </div>
    <div id="logo" class="col-xs-4 mt-4 text-center">
      <p>QikTik</p>
    </div>
    <div class="col-xs-4 mt-3 text-center">
      <h4>DOW</h4>
      <a id="topTickerDow"></a>
    </div>
  </div>
</div>
