<div id="tickerBox" class="row mx-auto">
  <div id="tickerContent" class="card-body d-flex justify-content-between">
    <div class="col-xs-4 mr-1 text-center">
      <h5>NASDAQ</h5>
      <a id="topTicker">8,567</a>
    </div>
    <div class="col-xs-4 mr-1 text-center">
      <h5>S&amp;P</h5>
      <a id="topTicker">2,954</a>
    </div>
    <div class="col-xs-4 text-center">
      <h5>DOW</h5>
      <a id="topTicker">25,409</a>
    </div>
  </div>
</div>
