<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://kit.fontawesome.com/1fd7449b08.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Aldrich|Codystar|Raleway+Dots|Press+Start+2P&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>QikTik</title>
</head>
<body>
  <div class="d-flex flex-column min-vh-100">
    {{> ticker}}
    <div class="container mt-5 flex-grow-1">
      {{> search}}
      {{{ body }}}
    </div>
    <footer class="row justify-content-center mb-3 mt-5">
      <a id="iexLogo" class="text-dark" href="https://iexcloud.io"><img src="/images/logo-black.png" alt="image"
          height="20" width="90"></a>
    </footer>
  </div>
  <script src="/javascript.js"></script>
</body>
</html>
