<div class="row col-12">
  <div class="input-group m-2">
    <input type="text" class="form-control" placeholder="What stock would you like to track?" aria-label="Search Stock"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button id="searchStockButton" class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
    </div>
  </div>
</div>
