#tickerBox {
  width: 100%;
  border-bottom: 1px solid black;
}

#logo {
  font-family: 'Aldrich';
  font-size: 40px;
  text-align: center;
}

#tickerContent {
  width: 100%;
  color: white;
  background-color: black;
}

#topTicker {
  font-family: 'Codystar';
  color: #fdff00;
  font-size: bold;
}

#findStock {
  text-transform: uppercase;
}
