body {
    background-image: url(/images/NYSE.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vw;
}

#tickerBox {
    width: 100%;
    border-bottom: 1px solid black;
}

#logo {
    font-family: 'Aldrich';
    font-size: 40px;
    text-align: center;
    color: white;
}

#tickerContent {
    width: 100%;
    color: white;
    background-color: black;
}

#topTickerDow,
#topTickerSP {
    font-family: 'Codystar';
    color: #fdff00;
    font-weight: bold;
    font-size: x-large;
}

#findStock {
    text-transform: uppercase;
    padding: 25px;
    background-color: #FFFFFF !important;
}

.twitter-typeahead {
    flex-grow: 1;
}

.typeahead {
    background-color: #FFFFFF;
}

.typeahead:focus {
    border: 2px solid #0097CF;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    display: none;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}
