body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
}


#tickerBox {
  width: 100%;
  border-bottom: 1px solid black;
}

#logo {
  font-family: 'Aldrich';
  font-size: 40px;
  text-align: center;
}

#tickerContent {
  width: 100%;
  color: white;
  background-color: black;
}

#topTicker {
  font-family: 'Codystar';
  color: #fdff00;
  font-size: bold;
}
